.size-small {
font-size: 3vw;
}

.size-medium {
  font-size: 7vw;
}

.size-large {
  font-size: 20vw;
}

.centered {
  text-align:center; 
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

.text-red {
  color: red;
}

.flex-rows {
  display: flex;
  flex-direction: row;
}

.movingCloud2 {
  position: relative;
  top: -20vh;
}
.header {
  padding-top: 20vh;
}
span {
  color: #FDBC1D;
}

.time{
    color: #006472;
    font-family: 'Unkempt';
    font-size: 10vw;
}

.start {
  color: #5A2213;
}
html, body {
    margin: 0;
}

.adminForm {
    background-image: url(/admin/img/TAPPR_background1-wide.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.waiting, .winner {
    /*background-image: url(http://placekitten.com/g/600/300);*/
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.waiting {
    background-image: url(/admin/img/TAPPR_CountDownBG_complete.png);
}

.winner {
    background-image: url(/admin/img/TAPPR_background1-wide-blur.png);
}



/*input {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    border: 2px solid #D7263D;
    background-color: #D7263D;
    border-radius: 20px;
    color: #FFF;
    padding: 10px;
    cursor: pointer;
}*/

.counter {
    text-align: center;
}

h1, h2{
    text-align: center;
}

h1 {
    font-family: 'Luckiest Guy';
    color: #5A2213;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

h2 {
    font-family: 'Unkempt';
    color: #945a4a;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

div {
    margin: 0;
}

.button {
    border: 2px solid #B1DCE3;
    background-color: #FFF;
    color: #B1DCE3;
    padding: 2vw;
    font-family: 'Unkempt';
}

.button:hover {
    background-color: #F47C00;
    color: #FFF;
}

.buttonAdmin{
    border: 2px solid #5A2213;
    background-color: #FFF;
    height: 5vh;
    width: 10vw;
    font-size: 2vw;
    color: lightgray;
}

.buttonAdmin:hover {
    background-color: #945a4a;
    color: #FFF;
}

.adminInput {
    border: 2px solid #945a4a;
    height: 5vh;
    width: 10vw;
    
}

.adminForm {
    text-align: center;
}



/*LEADERBOARD2*/
/*
.leaderboard {
    display: flex;
    height: 300px;
    align-items: flex-end;
    border: 2px solid blue;
}

.leaderboard > div{
    flex: 1;
    border: 2px solid red;
    transition: height 300ms ease-in;
    background-color: #0B7A75;
    font-family: 'Lato', sans-serif;
}*/

/*Paule's new CSS*/
/*LEADERBOARD*/

.logs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  background-image: url(/admin/img/TAPPR_LeaderBoardBG.png);
  background-size: cover;
  overflow:hidden;
}

.log {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 20px;
  min-height:50px;
}

.log_top {
  height: 18px;
  background: url(/admin/img/_log_top.png) repeat center;
}

.log_body {
  flex: 1;
  background: url(/admin/img/log_body.png) repeat center;
}

.log_bottom {
  height: 61px;
  background: url(/admin/img/log_bottom.png) repeat center;
  white-space: nowrap;
}

.log_bottom > p {
    text-align: center;
    margin-left: -318px;
    font-size: 32px;
    font-family: 'Unkempt';
    min-width: 775px;
    display: inline-flex;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0, 1);
}

span {
    color: #5A2213;
}

/*WINNER*/
.winner {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 80px;
    color: #000;
}



.highlight {
    color: #F47C00;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}

.winnerName {
  font-family: 'Luckiest Guy';
  color: #5A2213;
}

/*VERTICAL NAMES + SCORES*/
.vertical-text {
  transform: rotate(90deg);
	transform-origin: center top 0;
	float: left;
	width: 250px;
}

.movingCloud {
  position: relative;
  -webkit-animation: Cloud 25s infinite;
  -moz-animation: Cloud 25s infinite;
  animation: Cloud 25s infinite;
}

.movingCloud2 {
    position: relative;
  -webkit-animation: Cloud2 25s infinite;
  -moz-animation: Cloud2 25s infinite;
  animation: Cloud2 25s infinite;
  padding-left: 1000px;
}

.movingCloud3 {
    position: relative;
  -webkit-animation: Cloud2 25s infinite;
  -moz-animation: Cloud2 25s infinite;
  animation: Cloud2 25s infinite;
  opacity: 0.4;
}

@-webkit-keyframes Cloud {
  0% {
    left: 10px;
  }
  50% {
    left: 700px;
  }
  100% {
    left: 10px;
  }
  
}
@-moz-keyframes Cloud {
  0% {
    left: 10px;
  }
  50% {
    left: 700px;
  }
  100% {
    left: 10px;
  }
  
}
@keyframes 'Cloud' {
  0% {
    left: 10px;
  }
  50% {
    left: 700px;
  }
  100% {
    left: 10px;
  }

}

@-webkit-keyframes Cloud2 {
  0% {
    right: 10px;
  }
  50% {
    right: 1000px;
  }
  100% {
    right: 10px;
  }
  
}
@-moz-keyframes Cloud2 {
  0% {
    right: 10px;
  }
  50% {
    right: 1000px;
  }
  100% {
    right: 10px;
  }
  
}
@keyframes 'Cloud2' {
  0% {
    right: 10px;
  }
  50% {
    right: 1000px;
  }
  100% {
    right: 10px;
  }

}

@-webkit-keyframes Cloud3 {
  0% {
    right: 10px;
  }
  50% {
    right: 300px;
  }
  100% {
    right: 10px;
  }
  
}
@-moz-keyframes Cloud3 {
  0% {
    left: 10px;
  }
  50% {
    left: 300px;
  }
  100% {
    left: 10px;
  }
  
}
@keyframes 'Cloud3' {
  0% {
    right: 1000px;
  }
  50% {
    right: 10px;
  }
  100% {
    right: 1000px;
  }

}
