@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy|Unkempt:400,700);
/*General*/
.title_page .game_started .waiting_page .bad_name .game_play{
    display: flex;
    flex-direction: column;
}

.title{
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
    display: flex;
    justify-content: center;
    color: #5A2213;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}
.subTitle{
    font-family: 'Unkempt', Arial;
    font-size: 1.75em;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #945a4a;
}
.footer{
    font-family: 'Unkempt', Arial;
    font-size: 0.8em;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #5A2213;
    padding-left: 5px;
}
body{
    margin: 0;
    padding: 0;
}
/*Main Page*/
.title_page{
    background: url('/player/images/summer_2.png') no-repeat center center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    align-items: center;
}

.title_instructions{
    font-family: 'Unkempt', Arial;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    color: #945a4a;
}

/*Game Started*/
.game_started {
    background: url('/player/images/winter_3.png') no-repeat center center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top:0;
    left:0;
}
/*Login Page*/
.login_page, .bad_name{
    background: url('/player/images/summer_2.png') no-repeat center center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column; 
    align-items: center;
   
}
.login{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.login_name{
    border: 1px solid #945a4a;
    border-radius: 0;
    width: 75vw;
    font-size: 2em;
    display: flex;
    font-family: 'Unkempt', Arial;
}
#login_button{
    background: #945a4a;
    color: white;
    height: auto;
    font-family: 'Unkempt', Arial;
    font-size: 2em;
    margin: 10px;
    display: flex;
    align-items: center;
    border: none;
}
/*Waiting Page*/
.waiting_page{
    background: url('/player/images/winter_1blurred.png') no-repeat center center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
}
.game_instructions_title{
    font-family: 'Unkempt', Arial;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #5A2213;
}
.game_instructions{
    font-family: 'Unkempt', Arial;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    color: #006472;
    padding: 5px;
    text-align: center;
    
}

/*Play Game*/
.tap_button {
    width: 50vw;
}
.game_play{
    background: url('/player/images/summer_1blurred.png') no-repeat center center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.button_text{
    font-family: 'Luckiest Guy', cursive;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    color: #5A2213;
}

#fade {
    transition: all 0.2s ease;
}

#fade:active {
    transform: scale(1.3)
}

/*Game Winner*/
.game_winner{
    background: url('/player/images/summer_3blurred.png') no-repeat center center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.winner_beaver{
    width: 200px;
    height: 200px;
}

.game_loser{
    background: url('/player/images/winter_1blurred.png') no-repeat center center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#app {
    font-size: 3em;
}