.tap_button{
    width: 200px;
    height: 300px;
    background-color: #328E92;
    color: white;
}
.dbltap{
    background-color: #328E92;
    color: white;
}
.half{
    background-color: #328E92;
    color: white;
}
.leech{
    background-color: #328E92;
    color: white;
}
.freeze{
    background-color: #328E92;
    color: white;
}
